/*
COLOR BANK:
rgb(10,90,140) - blue accent
#8A0000 - red dark
#BD0000 - red light
#333333 - default text 
FONT:
font-family: 'Open Sans Condensed', sans-serif;
*/
body{
	width: 100%;
	height: 100%;
}


.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	
}

.menu{
	top: -275px;/*starts off the screen*/
	position: fixed;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-family: 'Open Sans Condensed', sans-serif;
}

.menuIcon{
	height: 65px;
	border-bottom: 5px solid rgb(10,90,140);
}

.menuIcon img{
	position: absolute;
	top: 15px;
	left: 10px;
	cursor: pointer;
}

.close-click{
	cursor: pointer;
	color: #8A0000;
}

.navLink h3{
	cursor: pointer;
}

.navLink h3:hover{
	color: rgb(10,90,140);
	
}

.close-click:hover{
	color: #BD0000;
}

.headerimg{
	height: 450px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-image: url("headerLogo.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.header{
	/*padding-top: 30%;*/
	/*padding-bottom: 2%;*/
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: rgb(255,255,255);
	background-image: url("beachCliff.jpg");
	background-size: cover;
	background-position: center bottom;
	border-bottom: 5px solid rgb(10,90,140);
}

.header .row{
	background-color: rgba(10,10,10,.15);
}

.fadeOne{
	opacity: 0;
}

.fadeTwo{
	opacity: 0;
}

.fadeThree{
	opacity: 0;
}

.watermark{
	
}

.bottom{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	/*background-color: rgb(10,90,140);*/
	color: rgb(10,90,140);
	/*border-top: 7px solid #863d27;*/
	position: relative;
	bottom: -25px;
	margin-left: auto;
	margin-right: auto;
}

.border{
	
	border-right: 1px solid rgb(10,90,140);
}

.connect{
	padding: 10px; 
}

.about .row{
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	color: rgb(10,90,140);
	padding-top: 30px;
	padding-bottom: 30px;
}

.about .col-md-5 h3{
	text-align: center;
}

.secondR{
	
	border-top: 2px solid rgb(10,90,140);
}